# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Reagan test
*.ilk
*.pdb
/Study/c14/test/test.VC.VC.opendb
/Study/c14/test/test.VC.db
/Study/c14/test/x64/
/Study/c14/test/test/x64/
/Study/c14/test/Debug/
/Study/c14/test/test/Debug/